@import "./reset.scss";
body,
html {
  font-family: "Nunito", sans-serif;
}
.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
.header-title {
  font-size: 22px;
  font-weight: bold;
  color: black;
}
.header-subtitle {
  font-size: 18px;

  color: black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
header {
  border-bottom: 1px solid #eaeaea;
  padding: 40px;
}
.content {
  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}

.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
  .clear {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
  }
  input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  .items {
    overflow: auto;
    margin-bottom: 40px;
  }
  h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
}
.items {
  flex: 1;
}
.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;
  }
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  div {
    flex: 1;
    border-bottom: 1px dashed black;
    position: relative;
    top: -4px;
    margin: 0 10px;
  }
  .greenButton {
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    &:disabled {
      background-color: #696969;
      cursor: default;
    }
    &:disabled {
      animation: button-loading 1s ease-in-out infinite;
    }

    img {
      position: absolute;
      right: 30px;
      top: 22px;
      transition: transform 0.2s linear;
    }
    &:hover {
      img {
        transform: translateX(10px);
      }
      transition: all 0.2s linear;
      background: lighten(#9dd558, 3%);
    }
    &:active {
      transition: all 0.2s linear;
      background: darken(#9dd558, 3%);
    }
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 10px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p {
    font-size: 14px;
  }
  b {
    font-size: 16px;
  }
  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }
}
.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;

  img {
    position: absolute;
    right: 30px;
    top: 22px;
    transition: transform 0.2s linear;
  }
  &:hover {
    img {
      transform: translateX(10px);
    }
    transition: all 0.2s linear;
    background: lighten(#9dd558, 3%);
  }
  &:active {
    transition: all 0.2s linear;
    background: darken(#9dd558, 3%);
  }
}
.cartEmpty {
  margin-top: 100px;
  row-gap: 10px;
}
.test {
  margin-right: 90px;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
//media

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 880px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .overlay {
    background-color: transparent;
  }
}
@media (max-width: 590px) {
  header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    ul {
      align-items: center;
    }
  }
  .wrapper {
    max-width: none;
    width: 100%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-flex {
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 20px;
    }
  }
}
